!!!
%html
  %head
    %title BitStamp Bot - Grapher
    %link{ rel: "stylesheet", href: "/css/main.css" }
  %body
    %h1 BitStamp Bot - Grapher

    %canvas{ width: "900px", height: "400px" }

    :javascript
      var data = #{DATA}
    %script{ src: "/js/vendor/chart.js" }
    %script{ src: "/js/app.js" }
