!!!
%html
  %head
    %title BitStamp Bot - Grapher
    %link{ rel: "stylesheet", href: "/css/main.css" }
  %body{ class: body_class }
    %h1 BitStamp Bot - Grapher
    %nav
      %a{ href: "/" }         Overview
      %a{ href: "/graph" }    Graph
      %a{ href: "/buy_sell" } Buy/Sell
    .content
      = yield

    %script{ src: "/js/vendor/dygraphs.js" }
    %script{ src: "/js/app.js" }
