:ruby
  title = "Bitstamp Enhancer"
!!!
%html
  %head
    %title= title
    %link{ rel: "stylesheet", href: "/css/main.css" }
  %body{ class: body_class }
    %h1= title
    %nav
      - nav_link "/",          "Overview"
      - nav_link "/buy_sell",  "Buy/Sell"
      - nav_link "/orders",    "Orders"
      - nav_link "/settings",  "Settings"
      /%a{ href: "/more" }     More
    .content
      = yield

      - @render_time = Time.now - @clock
    .footer
      page rendered in: #{@render_time}

    %script{ src: "/js/vendor/dygraphs.js" }
    %script{ src: "/js/app.js" }
