* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: green; }

p, h1 {
  line-height: 180%;
  margin: 0; }

body {
  padding: 0; }

.clear {
  clear: both; }

.content {
  width: 100%;
  margin: 30px auto 50px; }

.buy_sell section {
  display: inline-block; }

.orders section {
  margin-bottom: 20px;
  font-size: 90%; }
  .orders section p {
    margin: 0; }

section.half, .buy_sell section {
  width: 46%; }

section.border, .buy_sell section {
  border: 1px solid #aaaaaa;
  padding: 1%;
  margin: 0 1% 0%; }

.btn, .button, nav a, input[type=submit] {
  padding: 1%; }

nav a {
  font-weight: bold;
  display: inline-block; }

.btn, .button, nav a, input[type=submit] {
  border-radius: 7px;
  background: lightgreen;
  border: 1px solid lightgreen; }
  .btn:hover, .button:hover, nav a:hover, input[type=submit]:hover {
    border: 1px solid green; }

.current {
  background: green;
  color: white; }

input {
  margin-bottom: 10px; }

h1 {
  font-size: 1.3em; }

.graph {
  height: 400px;
  margin-bottom: 20px; }

.break {
  display: block; }

.footer {
  font-size: 80%;
  float: right;
  margin-top: 30px; }

.orders .orders_closed p span {
  width: 70px;
  text-align: right;
  display: inline-block; }
